.sect {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    height: 75vh;
}

.sect-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
    margin-right: 20px;

    img {
        display: block;
        width: 100%;
        max-width: 600px;
        
    }
    p {
        font-size: 1rem;
        max-width: 800px;
        color: #959698;
        letter-spacing: 1px;
        line-height: 140%;
        text-align: justify;
    }
}

.px-1 {
    padding-left: 8px;
    padding-right: 8px;
}

.sect-image .spiderman {
    padding-left: 80px;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    -webkit-transform: translate3d(--150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
}

.my-2 {
    margin: 1rem 0;
}