header {
    width: 100%;
}

#menu-nav {
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (fourth parameter) for transparency */
    .nav {
        .nav-link {
            &.active {
                background-color: red;
                color: white;
            }
        }
    }
}