@media screen and (min-width: 1440px) {
    .sect-image .spiderman {
      width: 130%;
      -webkit-transform: translate3d(-195px, -20px, 0);
      transform: translate3d(-195px, -20px, 0);
    }
  }
  
  @media screen and (max-width: 1440px) and (min-width: 1140px) {
    .sect-image .spiderman {
      width: 125%;
      -webkit-transform: translate3d(-180px, 10px, 0);
      transform: translate3d(-180px, 10px, 0);
    }
  }
  
  @media screen and (min-width: 1140px) and (max-width: 1440px) {
    .sect {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      padding: 2rem 1.5rem;
      height: auto;
  
      .sect-content {
        max-width: 100%;
        margin-right: 0;
  
        img {
          max-width: 100%;
        }
  
        p {
          font-size: 0.9rem;
          max-width: 100%;
        }
      }
  
      .text-history, .title-h2 {
        font-size: 24px;
        letter-spacing: 1px;
        padding-top: 30px;
        text-align: center;
      }
  
      #menu-nav .nav .nav-link {
        font-size: 16px;
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 3px;
          background-color: red;
          transition: width 0.3s ease;
        }
  
        &:hover::after {
          width: 100%;
          border-radius: 2%;
        }
      }
  
      .carousel-box {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        overflow: hidden;
        border-radius: 15px;
        border: 4px solid #ccc;
  
        .carousel-item {
          height: auto;
          overflow: hidden;
  
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
  
        .carousel-indicators [data-bs-target] {
          width: 10px;
          height: 10px;
          border-radius: 100%;
        }
      }
    }
  }
  
  @media screen and (max-width: 960px) {
    .bg-video {
      display: none;
    }
  
    .peter-parker {
      margin-top: 1rem;
    }
  
    .sect {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      padding: 2rem 1.5rem;
      height: auto;
  
      .sect-content {
        max-width: 100%;
        margin-right: 0;
  
        img {
          max-width: 100%;
        }
  
        p {
          font-size: 0.9rem;
          max-width: 100%;
        }
      }
  
      .sect-image .spiderman {
        display: none;
      }
  
      .text-history, .title-h2 {
        font-size: 24px;
        letter-spacing: 1px;
        padding-top: 30px;
        text-align: center;
      }
  
      #menu-nav .nav .nav-link {
        font-size: 16px;
        border-bottom: none;
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 3px;
          background-color: red;
          transition: width 0.3s ease;
        }
  
        &:hover::after {
          width: 100%;
          border-radius: 2%;
        }
      }
  
      .carousel-box {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        overflow: hidden;
        border-radius: 15px;
        border: 4px solid #ccc;
  
        .carousel-item {
          height: auto;
          overflow: hidden;
  
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
  
        .carousel-indicators [data-bs-target] {
          width: 10px;
          height: 10px;
          border-radius: 100%;
        }
      }
    }
  }
  