* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0a0c10;
  overflow-x: hidden;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-video:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, #0a0c10 25%, rgba(11, 12, 16, 0.8) 50%, #0a0c10 70%);
}
.bg-video .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header {
  width: 100%;
}
#menu-nav {
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the alpha value (fourth parameter) for transparency */
}
#menu-nav .nav .nav-link.active {
  background-color: red;
  color: white;
}
.sect {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  height: 75vh;
}
.sect-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 800px;
  /* Limita a largura do conteúdo */
  margin-right: 20px;
  /* Espaço entre a imagem e o texto */
}
.sect-content img {
  display: block;
  width: 100%;
  max-width: 600px;
  /* Define a largura máxima da imagem */
}
.sect-content p {
  font-size: 1rem;
  max-width: 800px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
  text-align: justify;
}
.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}
.sect-image .spiderman {
  padding-left: 80px;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  -webkit-transform: translate3d(--150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
}
.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
#history {
  overflow: hidden;
  background: linear-gradient(225deg, #14181f 0%, #0a0c10 100%);
}
#history .sect {
  height: 100%;
}
#history .sect .sect-image .peter-parker {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  margin-top: 5rem;
  /* Ajuste conforme necessário */
  margin-left: 80px;
  width: 60%;
}
#history .sect-content {
  padding: 0 1rem;
}
#car {
  overflow: hidden;
}
#car .car-text {
  padding: 0 1rem;
  margin-right: 300px;
  text-align: right;
}
.carousel-item {
  height: 30rem;
  overflow: hidden;
}
.carousel-item img {
  object-fit: cover;
  max-width: 50%;
  /* Define a largura máxima da imagem */
  justify-content: center;
  /* Centraliza horizontalmente */
  margin-top: 5rem;
  /* Ajuste conforme necessário */
  margin-left: 80px;
  height: auto;
  /* Mantém a proporção original da imagem */
}
.carousel-item p {
  color: white;
}
.carousel-item .may {
  max-width: 100%;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@media screen and (min-width: 1440px) {
  .sect-image .spiderman {
    width: 130%;
    -webkit-transform: translate3d(-195px, -20px, 0);
    transform: translate3d(-195px, -20px, 0);
  }
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .sect-image .spiderman {
    width: 125%;
    -webkit-transform: translate3d(-180px, 10px, 0);
    transform: translate3d(-180px, 10px, 0);
  }
}
@media screen and (max-width: 960px) {
  .sect {
    flex-direction: column;
    height: auto;
  }
  .sect-content {
    max-width: 960px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .bg-video {
    display: none;
  }
  .sect-image .spiderman {
    display: none;
  }
}
